{% extends "authentication/base.html" %}

{% block title %}
    Forgot Password
{% endblock %}

{% block main %}
    <h1>Reset password for {{ email }}</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
            <input type="password" class="form-control" name="password">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}